* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  min-width: 300px;
  font-family: 'Inter', sans-serif;
}

/* header */
#header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}
#the-brand {
  display: flex;
  gap: 20px;
  align-items: center;
}
#header img {
  width: 70px;
  height: 70px;
}
.brand-name {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: bold;
  color: oklch(0.21 0.034 264.665);
}
.brand-name:hover {
  cursor: default;
}

.nav-list {
  height: inherit;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none; 
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.nav-list a {
  color: black;
  text-decoration: none;
}
.nav-list a:hover,
.nav-list > li:hover,
.nav-list a:focus {
  color: oklch(0.646 0.222 41.116);
  cursor: pointer;
}
.nav-list a.active {
  color: oklch(0.646 0.222 41.116);
  font-weight: bold;
}

.hamburger {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: none; /* hidden on desktop */
}

/* header */

/* home-pg */
.home-pg {
  margin-top: 80px;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* blurred background */
.home-pg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("img/smoky-rice.pin.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(25px) brightness(0.7);
  transform: scale(1.2);
  z-index: 0;
}

/* main image (sharp) */
.home-pg{
  /* min-height:626px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.home-pg img {
  position: relative;
  z-index: 1;
  width: 750px;
  height:100%;
}

.overlay-text {
  position: absolute;
  z-index: 2;
  width: 740px;
  color: white;
  position: absolute;
  text-align: center;
  font-size: clamp(20px, 2.5vw, 36px);
}
.overlay-text h1 {
  margin: 0 0 21px;
}
.orange-text {
  display: block;
}
.overlay-text p {
  display: inline-block;
  color: white;
  background-color: oklch(0.646 0.222 41.116/ 0.4);
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: light;
  margin: 0 48px 21px;
  text-align: center;
  padding: 6px 16px;
  border-radius: 99px;
}
.overlay-button {
  color: white;
  background-color: oklch(0.646 0.222 41.116);
  width: 160px;
  height: 40px;
  border-radius: 999px;
  border: 0;
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 600;
  margin: 50px 0 0 0;
}
.overlay-button:hover{
  cursor: pointer ;
}
.order-button {
  color: oklch(0.646 0.222 41.116);
  background-color: white;
  margin: 0 0 0 50px;
}
/* main */

/* menu section */
.fcontainer-name {
  font-size: clamp(28px, 3vw, 48px);
  font-weight: 700;
  margin: 50px 0 0 0;
}
.fcontainer {
  margin: 22px 0 10px;
}
.fcontainer p {
  font-size: clamp(14px, 1.5vw, 18px);
  padding: 0 64px;
}
.food-container {
  text-align: center;
  background-color: #e6d8c3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 1043px;
  padding-bottom: 50px;
}
.price-tag {
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 70px;
  border-radius: 99px;
  background-color: oklch(0.646 0.222 41.116/ 0.7);
}
.food-card input {
  border: 1px solid oklch(0.21 0.034 264.665);
}
.food-card img {
  height: 168px;
  width: 100%;
  object-fit: cover;
}
.food-category {
  /* width: 70%; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding: 0;
  justify-content: center;
}
.food-card {
  position: relative;
  background-color: #f5efe6;
  flex: 0 1 260px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.food-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.food-container h3 {
  text-align: center;
  font-size: 20px;
  color: #3e2723;
  background-color: #f5efe6;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}
.card-name {
  font-size: 18px;
  margin: 10px 0;
  font-weight: 600;
}
.food-caption {
  margin: 10px 0;
}
#native-rice img,
#pineapple-rice img {
  object-position: 35% 65%;
}
#potato-es img {
  object-position: 0% 50%;
}

/* Skeleton */
.skeleton {
  background: #e3e3e3;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  animation: pulse 1.5s infinite;
}

/* Pulse animation (soft blinking) */
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Hide real image until loaded */
/* .menu-img {
  display: none;
} */

/*menu section */

/* about section  */
.about-container {
  display: flex;
  gap: 30px;
  /* justify-content: space-around;  */
  /* padding-top: 4%; */
  margin: 0;
  padding: 2% 64px;
}
.about-text {
  align-content: center;
}
.about-text h3 {
  padding-bottom: 2%;
}
.about-img {
  order: 1;
  align-content: center;
}
.about-img img {
  width: 100%;
  min-width: 350px;
  max-width: 500px;
  height: 100%;
  border-radius: 50%;
}
.about-header{
}
/* about section  */

/* contact section  */
#contact {
  background-color: oklch(0.92 0.01 250);
  margin: 0;
  padding: 0;
}
#contact-head {
  padding: 30px 0;
  text-align: center;
}
#contact-head h2{
  font-size:40px;
}
#contact-head p{
  width: 80vw; 
  text-align: center;
  justify-self: center; 
  font-size: 18px;
}
.contact-container {
  
}

.feedback-area h3 {
  padding-bottom: 20px;
}

/* feedback-area */
.feedback-area {
  display: flex;
  justify-content: center;
  padding: 0 64px;
}

/* form */
.form-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}
.text-area{
  grid-area: 1/ 2/ 4/ 3;
}

label {
  font-weight: bold;
  text-align: left;
  display: block;
  padding-bottom: 20px;
}
.feedback-area input,
#submit-btn {
  padding: 10px;
  height: 30px;
  width: 300px;
  border-radius: 9px;
  border: 2px solid oklch(0.21 0.034 264.665);
  grid-column: 2/3;
}
#submit-btn {
  height: 47.98px;
  width: 153.02px;
  margin: 0 0 30px 0;
  color: white;
  background-color: oklch(0.21 0.034 264.665);
}
#submit-btn:hover{
background-color: oklch(0.646 0.222 41.116);
}
.feedback-area textarea {
  padding: 10px;
  height: 80%;
  width: 400px;
  border-radius: 9px;
  border: 2px solid oklch(0.21 0.034 264.665);
}

/* footer  */
footer {
  background-color: oklch(0.21 0.034 264.665);
  color: #fff;
  padding: 40px 64px 20px;
  font-size: clamp(12px, 1vw, 16px);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; 
  gap: 30px;
}
.footer-div{
  display: flex;
  gap: 20px;
  width: 200px;
  flex-wrap: wrap;
}
.footer-text {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

/* Contact icons */
.contact-list {
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
  width: 380px;
}

.contact-icon {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.contact-icon i {
  font-size: 50px;
  color: #fff;
  transition: color 0.3s ease;
}

.contact-icon:hover {
  transform: translateY(-3px);
}

.contact-icon:hover {
  cursor: pointer;
}
.fa-whatsapp{
  background: linear-gradient(45deg, #25D366, #128C7E);
  border-radius:99px ;

}
.phone-icon:hover .fa-phone, .phone-icon:hover {
  color: #f0c24b;
  cursor: default;
}

.fa-envelope{
background: linear-gradient(45deg, #FF5F6D, #FFC371); /* Sunset gradient for email */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.location-icon:hover .fa-map-marker-alt, .location-icon:hover{
  color: #f0c24b;
}
.fa-facebook{
  background: linear-gradient(45deg, #1877f2, #42a0ff);
  border-radius: 99px;
}
.fa-instagram{
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent; 
}
/* Copyright area  */
.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #ddd;
}
/* footer {
  height: 200px;
  align-items: center;
  padding:0 64px;
  font-size: clamp(12px, 1vw, 16px);
  background-color: oklch(0.21 0.034 264.665);
  color: #ffff;
}
.footer-text{
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  font-weight: bold;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer-copyright{
  padding-top: 50px;
}
.footer-line{
  border-top: 1px solid white;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}
.copyright-text{
  width: 100%;
  text-align: center;
}
.contact-list{
  display: flex;
  gap: 20px;
}
.contact-icon i{
  font-size:30px ;
  /* padding-right: 10px; */
} */
/* General */
h1, h2, h3,h4,h5{
  font-family: 'Playfair Display', serif;
}


/* media query 1134px */
@media (max-width: 1130px) {
  .about-container {
    flex-direction: column;
  }

  .about-text {
    order: 1;
  }
  .about-text {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .about-img {
    align-self: center;
    padding-top: 50px;
  }
  .contact-container{
    flex-direction: column;
  }
  /* .about-img img{
        height: 400px;
        width: 400px;
    } */
}

/* media query */
@media (max-width: 768px) {
  #header, .fcontainer p, .about-container, .contact-container, #contact-head, footer{
    padding-left: 32px;
    padding-right: 32px;
  }
  .overlay-text {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .overlay-button {
    margin: 0 0 20px 0;
  }
  .contact-container {
    flex-direction: column;
  }
  .overlay-text p {
    border-radius: 10px;
  }
  .hamburger {
    display: block; /* show on mobile */
  }
  .nav {
    display: none; /* hide menu by default */
    position: absolute;
    top: 0px;
    right: 1px;
    background: rgba(238, 238, 238, 0.9);
    width: auto;
    border-radius: 9px;
  }

  .nav.open {
    display: block; /* show menu when open */
  }

  .nav-list {
    flex-direction: column;
    padding: 10px;
  }
  .form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .feedback-area textarea{
    height: 100px;
    width: 300px;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .contact-list {
    /* display: block; */
    /* padding-bottom: 10px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #contact-head p{
    width: auto;
  }
}
/* media query */
